body {
  font-family: Consolas, monaco, monospace;
}

#clearButton {
  float: right;
}

#closeButton {
  float: right;
}

#waiting {
}

#activeUsers {
  float: right
}


form, table {
     display:inline;
}
