<br />
<div>
  <i class="fa fa-user fa-2x" aria-hidden="true"> {{user}}</i>
  <button ng-click="close()" class="btn btn-default fa fa-times fa-lg" id="closeButton"></button>
  <br />
  <br />
  <div ng-repeat="item in message track by $index">
    {{item}}
  </div>
  <div ng-if="waitmsg" id="waiting">
    <br />
    <div class="fa fa-spinner fa-lg">
      {{waitmsg}}
    </div>
  </div>
  <br />
  <form ng-submit="send(msg)">
    <textarea ng-model="msg" class="form-control" rows="3" required>You: </textarea>
    <br />
    <button type="submit" class="fa fa-paper-plane btn btn-primary"> Send</button>
  </form>
  <button ng-click="clear()" class="btn btn-danger fa fa-archive" id="clearButton"> Clear</button>
</div>
